<div
  class="flex flex-col gap-4 my-3 min-w-full p-5 bg-white border border-gray-200 rounded-xl shadow-md hover:bg-gray-100 cursor-default md:flex-row md:min-h-40 relative"
>

  <img [src]="experience.company_img ? experience.company_img : empty_img" alt="" class="rounded-full w-20 h-20 hidden md:flex">
  <div class="md:w-1/3">
    <h3 class="font-bold text-rj-azalea-v2 capitalize">
      {{ experience.position }}
    </h3>
    <p class="capitalize leading-none font-bold">{{ experience.company }}</p>
    <p class="leading-none text-rj-mountbatten-v2 ">
      {{ experience.start_date | date: "MMM. yyyy" }} -
      {{
        experience.finish_date
        ? (experience.finish_date | date: "MMM. yyyy")
        : "actualidad"
      }}
    </p>
  </div>

  <p class="leading-none md:hidden">
    {{ showMore ? experience.description : ( experience.description | slice: 0:150) }}
    <button (click)="onShow()" *ngIf="!isShort" class="italic text-rj-mountbatten-v2">
      <span *ngIf="!showMore">...ver más</span>
      <span *ngIf="showMore">ver menos</span>
    </button>
  </p>


  <div class="hidden md:flex md:w-2/3">
    <div class="h-full w-[1px] mr-4 bg-rj-azalea-v2"></div>
    <p class="leading-none">
      {{ showMore ? experience.description : ( experience.description | slice: 0:150) }}
      <button (click)="onShow()" *ngIf="!isShort" class="italic text-rj-mountbatten-v2">
        <span *ngIf="!showMore">...ver más</span>
        <span *ngIf="showMore">ver menos</span>
      </button>
    </p>
  </div>

  <div *ngIf="isAuthorized" class="absolute right-4 top-4 flex flex-col items-end">
    <button class="flex gap-1 peer pb-2">
      <div class="bg-rj-mountbatten-v2 rounded-full w-1 h-1"></div>
      <div class="bg-rj-mountbatten-v2 rounded-full w-1 h-1"></div>
      <div class="bg-rj-mountbatten-v2 rounded-full w-1 h-1"></div>
    </button>

    <div *ngIf="isAuthorized" class="hidden peer-hover:flex hover:flex flex-col items-end bg-rj-azalea px-2 py-1 shadow-md rounded-md text-rj-thunder-v2">
      <button (click)="editClick()">
        Editar
      </button>
      <button (click)="deleteClick()">
        Eliminar
      </button>
    </div>
  </div>
</div>
