<!-- <nav class="bg-rj-azalea px-2 sm:px-4 py-2.5 dark:bg-gray-900 w-full"> -->
<nav class="fixed top-0 left-0 z-50 w-full px-2 py-2 bg-rj-azalea sm:px-4 md:h-fit">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="https://flowbite.com/" class="flex items-center">
      <img
        src="../../../assets/images/logo_transparent.png"
        class="h-6 ml-3 mr-4 rounded-md sm:h-9"
        alt="Logo"
      />
      <h1
        class="self-center text-xl font-semibold whitespace-nowrap"
      >
        Argentina Programa
      </h1>
    </a>
    <button
      (click)="switchShow()"
      data-collapse-toggle="navbar-cta"
      type="button"
      class="inline-flex items-center p-2 text-sm rounded-lg text-rj-thunder-v2 md:hidden hover:bg-rj-azalea-v2 focus:outline-none focus:bg-rj-azalea-v2"
      aria-controls="navbar-cta"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
    <!-- </div> -->
    <div
      [class]="isHidden"
      class="items-center justify-between w-full md:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col p-4 mt-4 border-2 rounded-lg border-rj-thunder md:flex-row md:space-x-4 md:mt-0 md:text-sm md:font-medium md:border-0 md:p-0 md:m-0"
      >
        <li class="cursor-pointer">
          <!-- <a routerLink="/home" routerLinkActive="active" class="nav-link-a">Home</a> -->
          <!-- <a appScrollAnchor="home" routerLink="/home" routerLinkActive="active" class="nav-link-a">Home</a> -->
          <a appScrollAnchor="home" class="nav-link-a">Home</a>
        </li>
        <li class="cursor-pointer">
          <!-- <a routerLink="/about_me" routerLinkActive="active" class="nav-link-a">Sobre mi</a> -->
          <!-- <a appScrollAnchor="about_me" routerLink="/about_me" routerLinkActive="active" class="nav-link-a">Sobre mi</a> -->
          <a appScrollAnchor="about_me" class="nav-link-a">Sobre mi</a>
        </li>
        <li class="cursor-pointer">
          <!-- <a routerLink="/experience" routerLinkActive="active" class="nav-link-a">Experiencia</a> -->
          <!-- <a appScrollAnchor="experience" routerLink="/experience" routerLinkActive="active" class="nav-link-a">Experiencia</a> -->
          <a appScrollAnchor="experience" class="nav-link-a">Experiencia</a>
        </li>
        <li class="cursor-pointer">
          <!-- <a appScrollAnchor="education" routerLink="/education" routerLinkActive="active" class="nav-link-a">Educación</a> -->
          <a appScrollAnchor="education" class="nav-link-a">Educación</a>
        </li>
        <li class="cursor-pointer">
          <!-- <a appScrollAnchor="skills" routerLink="/skills" routerLinkActive="active" class="nav-link-a">Habilidades</a> -->
          <a appScrollAnchor="skills" class="nav-link-a">Habilidades</a>
        </li>
        <li class="cursor-pointer">
          <a appScrollAnchor="projects" class="nav-link-a">Proyectos</a>
        </li>
        <li class="cursor-pointer">
          <button class="nav-link-a" (click)="login()" *ngIf="!isLogged">Login</button>
          <button class="nav-link-a" (click)="logout()" *ngIf="isLogged">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
