<div
  class="box-border flex flex-col items-start justify-start min-h-screen p-10 bg-gradient-1 md:p-20"
>
  <h1 class="pt-10 text-3xl font-bold">Habilidades</h1>

  <button
    *ngIf="status.isLoaded"
    class="transition-all duration-150 ease-linear underline-from-center"
  >
    agregar
  </button>

  <div class="w-full flex flex-col justify-start items-center">
    <div class="w-2/3 grid grid-rows-12 grid-cols-1 gap-4">
      <div class="h-fit">
        <h3 class="font-DM_Mono text-lg">Idiomas</h3>
        <div class="flex flex-row gap-2 capitalize flex-wrap">
          <app-skill-chips *ngFor="let item of skills | skillFilter: 'language'" [skill]="item"></app-skill-chips>
        </div>

        <div *ngIf="!status.isLoaded" class="flex flex-row gap-2 animate-pulse">
          <div class="h-8 py-3 w-24 rounded-full bg-white shadow-lg"></div>
          <div class="h-8 py-3 w-24 rounded-full bg-white shadow-lg"></div>
          <div class="h-8 py-3 w-24 rounded-full bg-white shadow-lg"></div>
        </div>
      </div>
      <div class="h-fit">
        <h3 class="font-DM_Mono text-lg">Tecnologías</h3>
        <div class="flex flex-row gap-2 capitalize flex-wrap">
          <app-skill-chips *ngFor="let item of skills | skillFilter: 'hard'" [skill]="item"></app-skill-chips>
        </div>

        <div *ngIf="!status.isLoaded" class="flex flex-row gap-2 animate-pulse">
          <div class="h-8 py-3 w-24 rounded-full bg-white shadow-lg"></div>
          <div class="h-8 py-3 w-24 rounded-full bg-white shadow-lg"></div>
          <div class="h-8 py-3 w-24 rounded-full bg-white shadow-lg"></div>
        </div>
      </div>
      <div class="h-fit">
        <h3 class="font-DM_Mono text-lg">Competencias</h3>
        <div class="flex flex-row gap-2 capitalize flex-wrap">
          <app-skill-chips *ngFor="let item of skills | skillFilter: 'soft'" [skill]="item"></app-skill-chips>
        </div>

        <div *ngIf="!status.isLoaded" class="flex flex-row gap-2 animate-pulse">
          <div class="h-8 py-3 w-24 rounded-full bg-white shadow-lg"></div>
          <div class="h-8 py-3 w-24 rounded-full bg-white shadow-lg"></div>
          <div class="h-8 py-3 w-24 rounded-full bg-white shadow-lg"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-alert [showAlert]="alert_config.show" [message]="alert_config.message" [typeAlert]="alert_config.type"></app-alert> -->


